.gridRow {
	float: left;
	min-height: 40px;
	width: 100%;
	padding: 2px;
}
.gridCell {
	float: left;
	min-height: 30px;
	width: 150px;
	min-width: 125px;
	padding: 0px;
	overflow:hidden;
	 
}
.gridMatrixContainer {
	 
	padding: 0px;
	float: left;
	width: 100%;
	margin-top:10px;
	background:none;
}

/*------------------DESKTOP----------------*/

@media screen and (max-width: 5000px) {
}

/*------------------TABLET----------------*/
@media screen and (max-width: 1024px) {
}

/*------------------iPhone----------------*/
@media screen and (max-width: 480px) {
	 
}