.section{
	border:solid #ccc 1px;
}
.action_btn{
	color:#222;
}
.text_input{
	color:#333;
}
.submit_btn{
	color:#000;
	font-weight:bold;
}
.listTable{
	border:solid 1px #ccc;
	border-collapse:collapse;
}
.addForm{
	
}








