#dialogoverlay {
		display: none;
		opacity: .8;
		position: fixed;
		top: 0px;
		left: 0px;
		background: #000;
		
		width: 100%;
		z-index: 10;
	}
	#dialogbox {
		display: none;
		position: fixed;
		 
		background-image: url('../global_img/transparentWhite10x10.png');
		border-radius: 5px;
		width: 550px;
		z-index: 10;
	}
	#dialogbox > div {
		 background-image: url('../global_img/black_50.png');
		margin: 8px;
	}
	#dialogbox > div > #dialogboxhead {
		 background-image: url('../global_img/black_50.png');
		font-size: 19px;
		padding: 10px;
		color: #CCC;
	}
	#dialogbox > div > #dialogboxbody {
		background-image: url('../global_img/black_50.png');
		padding: 20px;
		color: #FFF;
	}
	#dialogbox > div > #dialogboxfoot {
		 background-image: url('../global_img/black_50.png');
		padding: 10px;
		text-align: right;
	}