
@media screen and (max-width: 5000px) {
	 #site_header {
		height: 50px;
		max-height: 50px;
		min-height: 50px;
		  
	}
	#site_logo {
		font-size: 40px;
		margin-left: 5%;
	}
	#site_name {
		font-size: 40px;
	}
	#content {
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 130px;
	}
}

/*------------------DESKTOP----------------*/

@media screen and (max-width: 1024px) {
	 #site_header {
		height: 50px;
		max-height: 50px;
		min-height: 50px;
		   
	}
	#site_logo {
		font-size: 40px;
		margin-left: 5%;
	}
	#site_name {
		font-size: 40px;
	}
	#content {
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 130px;
	}
}

/*------------------TABLET----------------*/
@media screen and (max-width: 960px) {
	#site_header {
		height: 40px;
		max-height: 40px;
		min-height: 40px;
 	}
	#site_logo {
		font-size: 30px;
		margin-left: 5%;
	}
	#site_name {
		font-size: 30px;
	}
	#content {
		margin-left: 2%;
		margin-right: 2%;
		margin-top:120px;
	}
	.nav_buttons {
		min-width: 55px;
		width: 55px;
		max-width: 55px;
		font-size: 11px;
		padding:1px;
	}
	.nav_container {
		height: 30px;
		max-height: 30px;
	/*top:40px; is to marry fixed navigation to fixed site_header*/
		 top:40px;
	}
	.subnav_buttons {
		min-width: 55px;
		width: 55px;
		max-width: 55px;
		font-size: 11px;
		padding:1px;
	}
	.subnav_container {
		margin-top:0px;
		height: 30px;
		max-height: 30px;
		 top:70px;
	}
}

/*------------------iPhone---------------- blue */
@media screen and (max-width: 480px) {
	#content {
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 90px;
	}
	#site_header {
		height: 30px;
		max-height: 30px;
		min-height: 30px;
 	}
	#site_logo {
		font-size: 23px;
		margin-left: 5%;
	}
	#site_name {
		font-size: 23px;
	}
	.global_enterprise_div {

		margin-top: 30px;
		color: white;
		font-size: 50px;
	}
	.global_enterprise_div a {
		color: blue;
		margin-right: 40px;
		font-size: 30px;
	}
	.nav_buttons {
		min-width: 55px;
		width: 55px;
		max-width: 55px;
		font-size: 11px;
		padding: 1px;
	}
	.nav_container {
		height: 30px;
		max-height: 30px;
		/*top:30px; is to marry fixed navigation to fixed site_header*/
		 top:30px;
	}
	.subnav_buttons {
		min-width: 55px;
		width: 55px;
		max-width: 55px;
		font-size: 11px;
		padding: 1px;
	}
	.subnav_container {
		margin-top: 30px;
		height: 30px;
		max-height: 30px;
		top:30px;
	}
	
	.jq_accordion {
		width: 95%;
		height: 50px;
		font-size: 11px;
	}
	.jq_accordion h3 {
		height: 30px;
	}
	.jq_accordion p {

	}
	.jqscheduler_container {
		height: 100px;
		margin: 0 auto;
		width: 100%;
		font-size: 0.8em;
		font-size: 9px;
		border: none;
	}
	
	
}
