html {
	/*<CENTERING> */
	text-align: center;
	width: 100%;
	/*</CENTERING> */
}
body {
	/*CENTERING */
	width: 100%;
	margin: 0;
	/*</CENTERING> */
	background-color: black;
	background-image: url('../global_img/zeroBackground_50.png');
	color: green;
	font-family: helvetica, arial, sans-serif;
}


#site_header {
	width: 100%;
	height: 70px;
	max-height: 70px;
	min-height: 70px;
	text-align: center;
	 position:fixed;
	 top:0px;
	 backface-visibility: hidden; 
	 
}
 
#site_logo {
	float: left;
	font-size: 42;
	color: #222;
	margin-left: 5%;
}
#site_name {
	font-size: 42;
	color: #222;
}
#content {
	margin-left: 5%;
	margin-right: 5%;
	margin-top:2%;
}
#logout{
	color:#222;
	float:right;margin-right:30px;margin-top:10px;
}
#userGreeting{
	float:left;
	margin-top:10px;
	font-size:12px;
	color:#222;
	width:100px;
	max-width:100px;
}
.sortableTableContainer{
	
	 min-height:50px;
	 max-height:250px;
	 overflow-y:scroll;
}
#hiddenDIV{
	 border:solid 1px blue;
}
.main_gradient {
	background: -webkit-linear-gradient(#444, #111); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#444, #111); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#444, #111); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#444, #111); /* Standard syntax */
}
.nav_container {
	width: 100%;
	height: 30px;
	max-height: 30px;
	/*background-image: url('../global_img/zeroBackground_50.png');*/
	text-align: center;
	 position:fixed;
	 top:50px;
}
.subnav_buttons {
	height: 30px;
	max-height: 30px;
	min-width: 120px;
	width: 120px;
	font-size: 13px;
	border:none;
	
}
.subnav_container {
	width: 100%;
	height: 30px;
	max-height: 30px;
	/*background-image: url('../global_img/zeroBackground_50.png');*/
	text-align: center;
	 position:fixed;
	 top:80px;
}
.nav_buttons {
	height: 30px;
	max-height: 30px;
	min-width: 120px;
	width: 120px;
	font-size: 13px;
}

form{
	padding:0;
	margin:0;
}
.page_title{
	width:100%;
	margin-top:10px;
}
.container {
	float: left;
}
.todoList{
		text-align:left;float:left;margin-left:5%;margin-right:5%;overflow-y:scroll;max-height:250px;border:solid 1px black;
		background-color:#111111;
		color:green;
		font-size:13px;
	}
	.todoList p{
		color:white;
	}
	.todoList a{
		color:orange;
	}
input {
	border: none;
	background: none;
	background-image: url('../global_img/black_50.png');
	color: #cccccc;
	border: solid 1px #222222;
	padding: 2px;
}
table {
	border: none;
}
table tr:hover {
	background-image: url('../global_img/transparentWhite10x10.png') !important;
}/* hovering */
.section {
	border: solid #000000 1px;
	padding: 3px;
	margin: .5%;
	overflow: scroll;
	overflow-x: hidden;
	max-height: 400px;
	width: 98%;
	background-image: url('../global_img/black_50.png');
}
.standard_value {
	font-size: 12px;
	color: #cccccc;
}
.textAlignLeft {
	text-align: left;
	xxxbackground-image: url('../global_img/zeroBackground_50.png');
}
textarea {
	/*background-color: black;*/
	background: none;
	background-image: url('../global_img/black_50.png');
	color: white;
	height: auto;
	font-size: 15px;
	width: 98%;
	border: none;
	padding: 8px;
}
a {
	color: orange;
	font-size: 12px;
	text-decoration: none;
}
.inputText {
	width: 98%;
	color: green;
}

.scheduleMakerContainer{
	font-size:13px;
	 
}
.scheduleMakerContainer input{
	max-width:125px;
}
