body {
	background-color: #eeeeee;
	background-image: url('../../global_img/transparentWhite10x10.png');
	color: #000;
}
.main_gradient{
	background: -webkit-linear-gradient(white, #ccc); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, #ccc); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, #ccc); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, #ccc); /* Standard syntax */
}
.nav_container {
	max-height: 30px;
	/*background-image: url('../../global_img/black_25.png');*/
}

.nav_buttons {
	height: 30px;
	max-height: 30px;
	padding: 5px;
	border: none;
	border-left: 1px solid #eee;
}
#site_header {
	 min-height:200px;
	 max-height:200px;
	 border: solid 1px yellow;
}
#site_logo{
	float:left;font-size:42;color:#ccc;margin-left:5%;
}
#site_name{
	font-size:42;color:#ccc;
}
.gridMatrixContainer {
	background-color: none;
}
input {
	border: none;
	background: none;
	background-image: url('../../global_img/transparentWhite10x10.png');
	color: #000;
	border: solid 1px #FFF;
}

table tr:hover {
	background-image: url('../../global_img/black_25.png') !important;
}/* hovering */
.section {
	border: solid #000000 1px;
	background-image: url('../../global_img/transparentWhite10x10.png');
}
.standard_value {
	color: #cccccc;
}

textarea {
	background: none;
	background-image: url('../../global_img/transparentWhite10x10.png');
	color: #FFF;
	border: none;
}
a {
	color: blue;
}
.inputText {
	color: green;
}
.component_title {
	color: #000;
}
.anchorTable_table_container a {
	color: #000000;
}
.anchorTable_table_container  table {

	border: 1px solid #FFF;
	background-image: url('../../global_img/transparentWhite10x10.png');
}
.anchorTable_table_container table td, th {
	border: solid 1px #FFF;
}
.anchorTable_table_container table th {
	background-image: url('../../global_img/transparentWhite10x10.png');
}
.anchorTable_table_container  tr:hover {
	background-image: url('../../global_img/transparentWhite10x10.png');
}

/*------------------------ACTION LIST */
.actionList_container {

	color: #000;
}

.actionList_container table {

	border: 1px solid #FFF;
	background-image: url('../../global_img/black_50.png');
}

.actionList_container .actionList_title {

}
.actionList_container table td, th {
	border: solid 1px #FFF;
}
.actionList_container table th {
	background-image: url('../../global_img/transparentWhite10x10.png');
	color: #FFF;
}
.actionList_container table td {
	color: #FFF;
}
.actionList_container  tr {
	background: none;
}
.actionList_container  tr:hover {
	background-image: url('../../global_img/black_50.png');
}
.actionList_container textarea {
	background: none;
	/*background-image: url('../global_img/black_50.png');*/
	color: #FFF;
}
.actionList_container input {
	background-image: url('../../global_img/black_50.png');
	color: #FFF;
}

