body {

	background-image: url('../../global_img/zeroBackground_50.png');
	color: #FFF;
}
.main_gradient{
	background: -webkit-linear-gradient(#444, #111); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#444, #111); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#444, #111); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#444, #111); /* Standard syntax */
}
.nav_container {
	height: 30px;
	max-height: 30px;
	/*background-image: url('../../global_img/zeroBackground_50.png');*/
	 
}
.nav_buttons {
	height: 30px;
	max-height: 30px;
	padding: 5px;
	border: none;
	border-left: 1px solid #333;
}
#site_header {
	 min-height:200px;
	 max-height:200px;
	 border:solid green 2px;
}
#site_logo {
	float: left;
	font-size: 42;
	color: #222;
	margin-left: 5%;
}
#site_name {
	font-size: 42;
	color: #222;
}

input {
	border: none;
	background: none;
	background-image: url('../../global_img/black_50.png');
	color: #cccccc;
	border: solid 1px #222222;
}

table tr:hover {
	background-image: url('../../global_img/transparentWhite10x10.png') !important;
}/* hovering */
.section {
	border: solid #000000 1px;
	background-image: url('../../global_img//black_50.png');
}
.standard_value {
	color: #cccccc;
}

textarea {
	background: none;
	background-image: url('../../global_img/black_50.png');
	color: #FFF;
	border: none;
}
a {
	color: orange;
}
.inputText {
	color: green;
}
.anchorTable_table_container a {
	color: #FFFFFF;
}
